@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box; /* 1 */
}

.menu_pop{
    transform: translateX(0) !important;
}

.menu_trans{
    transition: all ease-in 0.5s;
}
